<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadraoSite}">

<section layout:fragment="conteudo">

  <!-- Portfolio Section -->
  <section class="page-section portfolio" id="atividades">
  <div class="container">
 		<div class="row">
	     	<nav aria-label="breadcrumb" class="col-xs-12 col-sm-12 col-md-6">
 				<ol class="breadcrumb nav-breadcrumb">
    				<li class="breadcrumb-item"><a th:href="|@{/}#atividades|">Início</a></li>
    				<li class="breadcrumb-item active" aria-current="page">Atividades BNCC</li>
  				</ol>
			</nav>
		</div>
	</div>
     <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Atividades BNCC</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>
    <div class="container">
      <h2>Educação Infantil</h2>
      <p>Faixa etária (crianças pequenas de 4 e 5 anos e 11 meses</p>

      <h2>Campos de experiências</h2>
      <p class="mb-2">Corpo, gestos e movimentos</p>
      <p class="mb-2">Traços, sons, cores e formas</p>

      <h2>Habilidades da Base Nacional Comum Curricular</h2>
      <p align="justify" class="mb-2">(EI03CG01) Criar com o corpo formas diversificadas de expressão de sentimentos, sensações e emoções, tanto nas situações do cotidiano quanto em brincadeiras, dança, teatro, música.</p>
      <p align="justify" class="mb-2">(EI03TS03) Reconhecer as qualidades do som (intensidade, duração, altura e timbre), utilizando-as em suas produções sonoras e ao ouvir músicas e sons.</p>
      
      <h2>Os benefícios da música na Educação Infantil</h2>
       <p align="justify" class="mb-2">A música tem a capacidade de estimular várias áreas do cérebro. Isso porque o desenvolvimento psicomotor, socioafetivo, cognitivo e linguístico é desenvolvido. Além de facilitar o processo de aprendizagem..</p>

       <p align="justify" class="mb-2">Um diferencial se relacionar a outras linguagens, como escrita e oral. Esse trabalho aumenta a sensibilidade das crianças e  incentiva a concentração e a memória.</p>

       <p align="justify" class="mb-2">Quanto mais cedo a escola iniciar o trabalho musical, melhor. A música faz parte da cultura das crianças, principalmente pelas músicas de ninar e  brincadeiras. Logo, a criança teria maior facilidade para adaptar-se à forma de aprendizado.</p>


      <div class="row">
 
 
</div>
      <!-- /.row -->

    </div>
  </section>

    <section class="copyright py-4 text-center text-white">
    <div class="container">
      <h1 class="text-center text-white">Atividades</h1>
    </div>
  </section>

    <section class="page-section" id="atividades">
    <div class="container">
      <h2>Atividade 1</h2>
      <h3>Cantigas de roda</h3>
      <p align="justify" class="mb-2">O responsável apresentará várias cantigas folclórica, para isso poderá usar o vídeo abaixo. As crianças irão escolher as músicas que mais gostaram. Após a escolha das músicas poderão cantar essas músicas com ajuda de instrumentos para marcar o ritmo.  </p>

      <div class="video-container">
         <iframe width="453" height="280" src="https://www.youtube.com/embed/A-tMGUtzj8s" frameborder="0" allowfullscreen>
        </iframe>
    </div>

      <h2>Atividade 2</h2>
      <h3>Criando uma cantiga</h3>
      <p align="justify" class="mb-2">O responsável incentivará as crianças para que também crie uma cantiga de roda. Conversar com as crianças sobre as propriedades da música como ritmo, letra, melodia, rima.  Uma letra de música sempre nascem de uma inspiração, de uma vivência ou situação vivida pelo criador. Proponha as crianças que também criem uma cantiga da familia . Nessa criação as crianças expressarão suas ideias e o responsável anotará aos poucos a letra da música. assim que a música tiver pronta. O responsável organizará uma apresentação das crianças.</p>
      <p align="justify" class="mb-2">Site de cantigas de rodas para imprimir e cantar: <a class="rounded js-scroll-trigger" target="_blank" href="http://novojeitodeensinar.blogspot.com/2011/09/cantigas-de-roda_18.html"> Clique aqui! </a></p>
      <h3>Coletânia de cantidas de roda em vídeo</h3>
      <div class="video-container">
         <iframe width="453" height="280" src="https://www.youtube.com/embed/Gv0Q_W6G3yE" frameborder="0" allowfullscreen>
        </iframe>
    </div>

    <h2>Atividade 3</h2>
      <h3>Imitando os sons dos instrumentos</h3>
      <p align="justify" class="mb-2">Depois de exibir o vídeo abaixo, o responsável poderá propor as crianças que imitem os sons dos instrumentos que foram vistos no vídeo. As  crianças serão estimuladas a criar uma brincadeira em que cada um imitará os sons dos instrumentos criando sequência de sons. Objetivos:  identificar os diferentes dos sons que produzem os instrumentos  musicais;  produzir sons utilizando voz, corpo na realizações de brincadeiras vocais.</p>
       <h3>Adivinhar os sons dos instrumentos musicais:</h3>
      <div class="video-container">
         <iframe width="453" height="280" src="https://www.youtube.com/embed/fwHqfe2i4Eo" frameborder="0" allowfullscreen>
        </iframe>
    </div>

    <h2>Atividade 4</h2>
      <h3>Caixa musical</h3>
      <p align="justify" class="mb-2">A brincadeira da caixa musical estimula a criança a cantar várias musicas a partir de imagens apresentadas pelo responsável. Os objetivos  são ampliar seu repertório musical; Conhecer diversificados ritmos musicais; Fortalecer e expandir a percepção visual (cores movimentos), auditiva (sons), tátil (diferentes sensações);</p>
      <div class="video-container">
         <iframe width="453" height="280" src="https://www.youtube.com/embed/bvh7K0LzzFs" frameborder="0" allowfullscreen>
        </iframe>
    </div>

    <h2>Atividade 5</h2>
      <h3>Brincadeira imitando os sons dos bichos</h3>
      <p align="justify" class="mb-2">Junto com a música do sítio do seu lobato as crianças vão imitar os sons dos animais. Deixe as crianças cantarem a música e imitarem os sons dos animais. Depois pare o vídeo e deixe que as crianças experimentem imitar os sons que fazem os animais sem ajuda da música. Objetivos: Identificar e diferenciar os sons  que produz cada animal.Produzir sons utilizando a voz, corpo na realizações de brincadeiras vocais.</p>
      <div class="video-container">
         <iframe width="453" height="280" src="https://www.youtube.com/embed/kTgtJISblFg" frameborder="0" allowfullscreen>
        </iframe>
    </div>

    <h3>Fontes de consulta:</h3>
    <a class="nav-link rounded js-scroll-trigger" target="_blank" href="https://escolaeducacao.com.br/a-importancia-da-musica-na-educacao-infantil/"> Escola Educação </a>

    </div>

    </section>
</section>

</html>
