<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadraoSite}">

<section layout:fragment="conteudo">

  <!-- Portfolio Section -->
  <section class="page-section portfolio" id="educacao_infantil">
  	<div class="container">
 		<div class="row">
	     	<nav aria-label="breadcrumb" class="col-xs-12 col-sm-12 col-md-6">
 				<ol class="breadcrumb nav-breadcrumb">
    				<li class="breadcrumb-item"><a th:href="|@{/}#atividades|">Início</a></li>
    				<li class="breadcrumb-item active" aria-current="page">Educação Infantil</li>
  				</ol>
			</nav>
		</div>
	</div>
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Educação Infantil</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>
    <div class="container">
      <h2>Direitos de aprendizagem e desenvolvimento:</h2>
      <p align="justify" class="mb-2">É inquestionável a importância da brincadeira para o desenvolvimento infantil. Ela está inserida na Base Nacional Comum Curricular (BNCC), sendo um dos seis direitos de aprendizagem e desenvolvimento da criança! 
      A  brincadeira é, portanto, uma parte fundamental da aprendizagem e desenvolvimento da criança, momento em que ela exercita todos os seus direitos e estabelece contato com os campos de experiência, como protagonista de seu desenvolvimento.
      Pensando na consciência planetária, criar seu próprio brinquedo é uma forma dos pais interagirem com seus filhos utilizando materiais não estruturados na construção de brinquedos, que podem ser carrinhos, instrumentos, jogos entre outros. “Construir seu próprio brinquedo é ir onde sua imaginação pode levar”
      </p>
           <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/educ_inf.png" alt="">
          </div>
        </div>
        </div>
 
      <h2>Cada um é do seu jeito (Construção da identidade)</h2>
      <p align="justify" class="mb-2">Esta atividade visa auxiliar a criança a construir a imagem do próprio corpo, além de trabalhar a auto-estima e auto-imagem.</p> 
      <p align="justify" class="mb-2">• Papel Kraft</p>
      <p align="justify" class="mb-2">• Canetinhas hidrocor</p>
      <p align="justify" class="mb-2">• Fita adesiva</p>
      <p align="justify" class="mb-2">• Tesoura</p>

      <h3>Como brincar</h3>
      <p align="justify" class="mb-2">Você irá pedir para cada criança deitar sobre uma folha de papel e em seguida irá desenhar a silhueta dela. Escreva o nome da criança e entregue a ela. Peça que completem desenhando os olhos, o nariz, a boca, os cabelos, etc. Neste momento você pode incentivar a criança a observar o próprio corpo.</p>

            <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/do_seu_jeito.jpeg" alt="">
          </div>
        </div>
        </div>

      <h2 style="margin-top: 20px">Caixinhas das sensações</h2>
      <p align="justify" class="mb-2">A caixa das sensações visa trabalhar os sentidos das crianças, através das sensações que os objetos ali dentro colocados despertam nos pequenos.</p>
       <h3>Materiais necessários:</h3>
       <p align="justify" class="mb-2">•  Caixa de papelão (pode ser de tênis) </p>
       <p align="justify" class="mb-2">• Objetos variados como tampinhas, lixas, pedaços de pano ou algodão, botões, dentre outros. </p>
        <h3>Como Brincar:</h3>
        <p align="justify" class="mb-2">A caixa deverá ter um furo em cima na forma de círculo, onde as crianças colocarão a mão e outra abertura onde o adulto colocará os objetos um por um, a fim de que as crianças, com a mão possam identificar o material.</p>

        <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/caixinha.jpeg" alt="">
          </div>
        </div>
        </div>

        <h2 style="margin-top: 20px">Brincando de casinha</h2>
        <p align="justify" class="mb-2">A brincadeira de casinha, por exemplo, é uma ótima oportunidade dos pais estabelecerem vínculos com as crianças, trazendo de forma lúdica situações em que possa existir uma troca de papéis: o pai pode ser filho , e o filho o pai. Além de boas risadas você poderá também perceber através das ações dos seus filhos como te enxergam como pai”.</p>

        <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/casinha.jpeg" alt="">
          </div>
        </div>
        </div>

        <h2 style="margin-top: 20px">Carrinho de mão</h2>
        <p align="justify" class="mb-2">Enquanto a criança coloca as mãos no chão, com os braços estendidos, o adulto (ou outra criança) levanta suas pernas e empurra, como se fosse um carrinho de mão.</p>
          <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/carrinho.jpeg" alt="">
          </div>
        </div>
        </div>

       <h2 style="margin-top: 20px">Morto-vivo</h2>
        <p align="justify" class="mb-2">Coloque as crianças em uma fila. Uma delas (que precisa estar fora da fila) ou você mesmo, fica de frente. Quando disser “morto”, elas devem se abaixar. E quando for “vivo”, elas precisam estar de pé. O condutor deve ir alternando as palavras e a velocidade. Quem errar, está fora da brincadeira.</p>

        <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/morto-vivo.jpg" alt="">
          </div>
        </div>
        </div>
      
        <h2 style="margin-top: 20px">Estátua</h2>
        <p align="justify" class="mb-2">O chefe designa qual será a estátua. Pode ser de cachorro, passarinho, gato, cobra… Então, quem está no comando escolhe a estátua mais bonita, mais feia ou mais engraçada. Pode-se também colocar uma música para tocar e quando o chefe aperta o stop, todos param! O chefe vai a cada jogador e os provoca. Quem se mexer, perde!</p>
        <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/estatua.jpeg" alt="">
          </div>
        </div>
        </div>

        <h2 style="margin-top: 20px">Sol e lua</h2>
        <p align="justify" class="mb-2">A brincadeira ‘Sol e Lua’ pode ser realizada com crianças, é bem conhecida na Educação Infantil e trabalha os seguintes aspectos: atenção, agilidade e lateralidade vivenciando as noções de direita e esquerda. Em uma quadra ou área externa faça uma divisão reta no chão com a ajuda de um lápis colorido, de uma lado você desenha um sol e do outro uma lua. O adulto deve dar os comandos: “Sol, sol, lua, sol, lua, lua, sol” e a criança atende pulando de um lado e de outro da reta de acordo com os comandos.</p>
        <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/sol_lua.jpeg" alt="">
          </div>
        </div>
        </div>

         <h2 style="margin-top: 20px">Chocalhos diferentes</h2>
        <p align="justify" class="mb-2">Com garrafas pequenas tipo Pet, você pode criar diferentes tipos chocalhos com elas. Você pode colocar dentro milho de pipoca, areia (você colorir a areia com corantes específicos), mistura de água com glitter, lantejoulas, estrelinhas e afins, feijão, arroz, e o que preferir. O efeito que esses chocalhos causam nos bebês a partir de 4 meses e nas crianças pequenas é encantador, as crianças se apaixonam! A partir dos 2 anos elas mesmas podem ajudar você na confecção dos chocalhos.</p>
        <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/chocalhos.jpeg" alt="">
          </div>
        </div>
        </div>

        <h2 style="margin-top: 20px">Caixas temáticas</h2>
        <p align="justify" class="mb-2">A organização de CAIXAS TEMÁTICAS com objetos separados e agrupados por temas e qualidades sensoriais é um recurso que pode provocar  nos bebês pesquisas e deflagrar situação de aprendizagem. É uma forma enriquecedora de desafiar os pequenos e observar os percursos das conquistas que vão se revelando.</p>

              <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/caixa_tematica.png" alt="">
          </div>
        </div>
        </div>

        <h2 style="margin-top: 20px">Caixas temáticas para bebês</h2>
        <p align="justify" class="mb-2">Como organizar essas caixas?</p>
        <p align="justify" class="mb-2">Definindo o foco. As caixas podem conter objetos para provocar mais intensamente um dos sentidos ou instigar pesquisas sensoriais mais amplas. Assim, a organização das caixas pode ser flexível e é possível reorganizá-las à medida que se observa os interesses e necessidades dos bebês.</p>
        <p align="justify" class="mb-2">Muitos focos para brincar e aprender:</p>

        <p align="justify" class="mb-2">• → Objetos instigantes para o TATO – temperatura, pressão, texturas para o tato fino e o tato grosseiro, vibração, tamanho (não menor que 5 cm) e diversidade de materiais.</p>
        <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/tematica_bebes.png" alt="">
          </div>
        </div>
        </div>

        <p align="justify" class="mb-2">• → Objetos Vibrantes para a AUDIÇÃO – repertório de músicas e canções e pequenos objetos sonoros que possam ser manipulados pela criança e pelo professor.</p>

        <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/vibrantes_bebes.png" alt="">
          </div>
        </div>
        </div>

        <p align="justify" class="mb-2">• → Objetos curiosos para a pesquisa com a VISÃO – cor, formato, luz, sombra, maleabilidade, em movimento, transparentes, opacos e reflexivos (espelhos). Lembrar que não é interessante sobrecarregar o campo de visão dos bebês porque eles podem ver tudo ao mesmo tempo e não focar em nada! Os bebês que permanecem deitados podem ser estimulados com objetos pendurados como móbiles. É possível amarrá-los em hastes, traves, cabides e varais, com barbantes e elásticos.</p>

         <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/curiosidades.jpeg" alt="">
          </div>
        </div>
        </div>

         <p align="justify" class="mb-2">•  → Objetos cativantes para o OLFATO – criar pequenos sachês de tule, morim ou crochê com ervas aromáticas: erva-doce, camomila, marcela, lavanda, canela, cravo, capim limão, cheiro de talco, cheiros de frutas etc.. Também é interessante separar alguns dos materiais da hora da troca para produzirem uma boa conversa durante a higiene:  você está sentindo o cheiro do creme? E a fralda, tem perfume? Vamos sentir?Objetos de casa, pano da naninha e roupa da mamãe também têm cheiros e os bebês reconhecem.
          Observação: os incensos podem ter componentes prejudiciais na fumaça. Evitar o uso.</p>

          <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/olfato.jpeg" alt="">
          </div>
        </div>
        </div>

        <p align="justify" class="mb-2">• → MOVIMENTO – as ações motoras das crianças vão acontecer à medida em que trabalhamos os sentidos com os objetos das caixas:</p>
        <p align="justify" class="mb-2 recuo">• colocar os bebês no chão.</p>
        <p align="justify" class="mb-2 recuo">• deixar os objetos no campo de visão e ao alcance dos pés e das mãos.</p>
        <p align="justify" class="mb-2 recuo">• quando perceber que tentam rolar, posicionar os objetos um pouco mais distantes.</p>
        <p align="justify" class="mb-2 recuo">• se já sustentam a posição sentada, os objetos podem estar ao redor e até mesmo dentro da caixa para que provoque mais descobertas.</p>

        <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/movimento_bebe.png" alt="">
          </div>
        </div>
        </div>

        <h2 style="margin-top: 20px">Atividades para desenvolver lateralidade</h2>
        <p align="justify" class="mb-3 recuo"><strong>Controle dos pés:</strong> os pequenos devem chutar a bolinha de papel com um dos pés. Logo depois, o objeto precisa ser estimulado com o outro pé. É aconselhável que cada estudante faça essa brincadeira para treinar a lateralidade.</p>

         <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/lateralidade_01.jpeg" alt="">
          </div>
        </div>
        </div>

        <p align="justify" class="mb-3 recuo"><strong>Pulando em círculos: </strong> a professora precisa desenhar círculos pelo chão. A ideia é disponibilizar menos círculos que o número total de alunos. Todos eles devem participar da brincadeira, que consiste em uma ordem dada pela educadora: pulem para a direita, pulem para a esquerda. Assim, eles podem treinar a lateralidade saltando de um desenho para o outro.</p>

        <p align="justify" class="mb-3 recuo"><strong>Pulando de um pé só:  </strong> o objetivo desta brincadeira é estimular o aluno a desenvolver a capacidade do corpo de trabalhar a parte que ele mais tem facilidade de usar na realização de tarefas.</p>

         <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/um_pe.jpeg" alt="">
          </div>
        </div>
        </div>

        <h2 class="text-center">Atividades para trabalhar com coordenação motora fina</h2>
        <h5 class="text-center">Tampinhas/botões/garrafas/</h5>
        <h5 class="text-center">Objetos disponíveis</h5>
        <p align="justify" class="mb-3 recuo">Antes de começar, <strong>deixe as crianças manipularem as tampinhas à vontade.</strong> São tantas cores e formas que vale a pena deixá-las matarem a curiosidade primeiro. Passado o impacto da novidade, elas estarão prontas para se concentrar nas atividades propostas.</p>
         <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/objetos.jpeg" alt="">
          </div>
        </div>
        </div>

        <p align="justify" class="mb-3 recuo"><strong>Coordenação Motora Fina.</strong>  Risque sobre o papel diferentes formas: retas, círculos, quadrados, caracóis, ziguezagues. Então, peça para seu filho posicionar as tampinhas sobre as formas desenhadas. Esta atividade é excelente para trabalhar  a coordenação motora fina. Ao pegar cada tampinha e colocá-la corretamente sobre as formas, ele estará fazendo movimentos que exigem maior precisão e destreza.</p>
          <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/coord_fina.jpeg" alt="">
          </div>
        </div>
        </div>

        <p align="justify" class="mb-3 recuo"><strong>Classificação e comparação. </strong> Trabalhe com a criança as formas e as cores. Peça para ela separar as tampinhas por cores, colocando cada cor em uma tigela diferente. Em outra ocasião, peça-a para separar por tamanho ou forma. Ajude-a a identificar as formas e tamanhos das tampinhas por cores por meio da comparação.</p>

        <p align="justify" class="mb-3 recuo"><strong>Contagem.  </strong> Diante de um monte de tampinhas coloridas, diga à criança para contá-las e depois separá-las por cores.</p>

        <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/contagem.jpeg" alt="">
          </div>
        </div>
        </div>

        <h2>Atividades para coordenação motora em casa:</h2>
        <p align="justify" class="mb-3 recuo">Crianças com idade entre 2 a 6 anos estão na fase de desenvolvimento das habilidades motoras, da coordenação e da força, necessárias para realização de diversas atividades, desde as mais simples até as mais complexas, como segurar um copo de vidro ou amarrar um cadarço. </p>

        <div class="row">
            <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/pinca_01.png" alt="">
          </div>
        </div>
      
            <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/pinca_02.png" alt="">
          </div>
        </div>

            <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/pinca_03.png" alt="">
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/pinca_04.png" alt="">
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/pinca_05.png" alt="">
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/pinca_06.png" alt="">
          </div>
        </div>

        </div>
      <!-- /.row -->

    </div>
  </section>
</section>

</html>
