<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadraoSite}">

<section layout:fragment="conteudo">

	<!-- Portfolio Section -->
	<section class="page-section portfolio" id="videos">
		<div class="container">
			<div class="row">
				<nav aria-label="breadcrumb" class="col-xs-12 col-sm-12 col-md-6">
					<ol class="breadcrumb nav-breadcrumb">
						<li class="breadcrumb-item"><a th:href="|@{/}#atividades|">Início</a></li>
						<li class="breadcrumb-item active" aria-current="page">Encerramento Ano Letivo 2020</li>
					</ol>
				</nav>
			</div>
		</div>
		<h2
			class="page-section-heading text-center text-uppercase text-secondary mb-0">Encerramento Ano Letivo 2020</h2>
		<!-- Icon Divider -->
		<div class="divider-custom">
			<div class="divider-custom-line"></div>
			<div class="divider-custom-icon">
				<i class="fas fa-star"></i>
			</div>
			<div class="divider-custom-line"></div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 mb-3">
						<h5 class="text-uppercase mb-3 text-center"> SMED - SECRETARIA MUNICIPAL DE EDUCAÇÃO </h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/sKPdGkIR5lo" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
			</div>
			<div class="row">
					<div class="col-lg-6 col-md-6 mb-3">
						<h5 class="text-uppercase mb-3 text-center"> CMEI ADAM PETRY</h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/wDxGiJmN7LE" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 mb-3">
						<h5 class="text-uppercase mb-3 text-center"> ESCOLA ALMIRANTE TAMANDARÉ</h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/Z8W_AmQImz0" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 mb-3">
						<h5 class="text-uppercase mb-3 text-center"> ESCOLA AMÁLIA FLORES </h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/xPyGSagk5Uw" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 mb-3">
						<h5 class="text-uppercase mb-3 text-center"> CMEI AMÉLIA BEFFA </h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/3l14Q73q-bQ" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 mb-3">
						<h5 class="text-uppercase mb-3 text-center"> ESCOLA ANA ROGGIA </h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/5iUw4gO616U" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 mb-3">
						<h5 class="text-uppercase mb-3 text-center"> ESCOLA ÁUREA BENCK </h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/LFLhejbB1nU" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 mb-3">
						<h5 class="text-uppercase mb-3 text-center"> ESCOLA ARTHUR DA COSTA E SILVA </h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/T3WaoLdS4JE" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 mb-3">
						<h5 class="text-uppercase mb-3 text-center"> ESCOLA DUQUE DE CAXIAS </h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/ixknNbPRwRA" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 mb-3">
						<h5 class="text-uppercase mb-3 text-center"> ESCOLA ERIK ANDERSEN </h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/z2dqzhySshE" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 mb-3">
						<h5 class="text-uppercase mb-3 text-center"> ESCOLA JOÃO AMBRÓZIO </h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/Pi4hKVba8xE" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 mb-3">
						<h5 class="text-uppercase mb-3 text-center"> CMEI JOÃO GRACINO </h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/TwWTBxpZFRE" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 mb-3">
						<h5 class="text-uppercase mb-3 text-center"> ESCOLA JOSÉ DE ALENCAR </h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/mg3_sML0sPg" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 mb-3">
						<h5 class="text-uppercase mb-3 text-center"> ESCOLA JOSÉ VAIN </h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/iC-Y63AeF6k" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 mb-3">
						<h5 class="text-uppercase mb-3 text-center"> CMEI LOURIVAL JOSÉ DE CARVALHO </h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/DGf4Y709Jpw" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 mb-3">
						<h5 class="text-uppercase mb-3 text-center"> CMEI LUIZ VENÂNCIO </h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/Fnd2rDRZGes" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 mb-3">
						<h5 class="text-uppercase mb-3 text-center"> CMEI MARIA APARECIDA </h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/syOaUAao8jE" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 mb-3">
						<h5 class="text-uppercase mb-3 text-center"> CMEI MARIA DE LOURDES </h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/JKfzx-mita0" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 mb-3">
						<h5 class="text-uppercase mb-3 text-center"> ESCOLA IRMÃ MARIA LEÔNIA </h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/hfPunjklu0A" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 mb-3">
						<h5 class="text-uppercase mb-3 text-center"> ESCOLA MÁRIO CALMON </h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/EltNy2zXeDE" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 mb-3">
						<h5 class="text-uppercase mb-3 text-center"> ESCOLA RITA ANA </h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/JuLHDFPt-XA" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 mb-3">
						<h5 class="text-uppercase mb-3 text-center"> CMEI SÃO FRANCISCO </h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/q9RzIv6rAPw" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 mb-3">
						<h5 class="text-uppercase mb-3 text-center"> ESCOLA SEBASTIÃO CAMARINI </h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/RVeMGUIMVC4" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 mb-3">
						<h5 class="text-uppercase mb-3 text-center"> CMEI THEREZINHA </h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/SW5DaqJ2Naw" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 mb-3">
						<h5 class="text-uppercase mb-3 text-center"> ESCOLA TANCREDO NEVES </h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/SDKk8bEPjNg" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
			</div>
		</div>
	</section>
</section>
</html>
