<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadraoSite}">

<section layout:fragment="conteudo">

	<!-- Portfolio Section -->
	<section class="page-section portfolio" id="videos">
		<div class="container">
			<div class="row">
				<nav aria-label="breadcrumb" class="col-xs-12 col-sm-12 col-md-6">
					<ol class="breadcrumb nav-breadcrumb">
						<li class="breadcrumb-item"><a th:href="|@{/}#atividades|">Início</a></li>
						<li class="breadcrumb-item active" aria-current="page">Saúde
							na Escola</li>
					</ol>
				</nav>
			</div>
		</div>
		<h2
			class="page-section-heading text-center text-uppercase text-secondary mb-0">Saúde
			na Escola</h2>
		<!-- Icon Divider -->
		<div class="divider-custom">
			<div class="divider-custom-line"></div>
			<div class="divider-custom-icon">
				<i class="fas fa-star"></i>
			</div>
			<div class="divider-custom-line"></div>
		</div>
		<div class="container">
			<div class="row">

				<div class="row">
					<div class="col-lg-6 col-md-6 mb-5 mb-lg-0">
						<h5 class="text-uppercase mb-3 text-center"> Dengue - Prevenção e Cuidados </h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/A2HcEbO3ev0" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 mb-5 mb-lg-3">
						<h5 class="text-uppercase mb-3 text-center"> Fale com o Zé Gotinha</h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/e0fAwNazC8s" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 mb-5 mb-lg-3">
						<h5 class="text-uppercase mb-3 text-center"> Campanha Multivacinação Ministério da Saúde</h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/xvGVagQOkso" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 mb-5 mb-lg-0">
						<h5 class="text-uppercase mb-3 text-center"> Zé Gotinha - Campanha de Vacinação contra a Poliomelite e Sarampo </h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/WbWimhT7lxk" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 mb-5 mb-lg-3">
						<h5 class="text-uppercase mb-3 text-center"> Alimentação Saudável </h5>
						<br/>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/Ync4NlO56p8" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 mb-5 mb-lg-3">
						<h5 class="text-uppercase mb-3 text-center"> Covid - Prevenção e cuidados na volta às aulas </h5>
						<div class="video-container">
							<iframe width="853" height="480"
								src="https://www.youtube.com/embed/Hjw89_-lTlU" frameborder="0"
								allowfullscreen> </iframe>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
</section>
</html>
