<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadraoSite}">

<section layout:fragment="conteudo">

  <!-- Portfolio Section -->
  <section class="page-section portfolio" id="videos">
  <div class="container">
 		<div class="row">
	     	<nav aria-label="breadcrumb" class="col-xs-12 col-sm-12 col-md-6">
 				<ol class="breadcrumb nav-breadcrumb">
    				<li class="breadcrumb-item"><a th:href="|@{/}#atividades|">Início</a></li>
    				<li class="breadcrumb-item active" aria-current="page">Vídeos</li>
  				</ol>
			</nav>
		</div>
	</div>
     <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Vídeos Educativos</h2>
      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>
    <div class="container">
<div class="row">
      <h2 class="text-uppercase mb-3 text-center">De onde vem?</h2>

      <div class="row">

        <div class="col-lg-4 mb-5 mb-lg-0">
        <h5 class="text-uppercase mb-3 text-center">De onde vem a onda?</h5>
            <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/O8eQeKn-atw" frameborder="0" allowfullscreen>
      </iframe>
      </div>
          </div>       
       
       <div class="col-lg-4 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">De onde vem o ovo?</h5>
            <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/xaNLpqz8Mjg" frameborder="0" allowfullscreen>
      </iframe>
      </div>
        </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">De onde vem o sapato?</h5>
            <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/Kkpje9rXzQ8" frameborder="0" allowfullscreen>
      </iframe>
      </div>
        </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">De onde vem o fósforo?</h5>
           <div class="video-container">
             <iframe width="853" height="480" src="https://www.youtube.com/embed/ok3p5bO5-c0" frameborder="0" allowfullscreen>
            </iframe></div>
        </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">De onde vem o papel?</h5>
           <div class="video-container">
             <iframe width="853" height="480" src="https://www.youtube.com/embed/rjUaQW0VG0k" frameborder="0" allowfullscreen>
            </iframe></div>
        </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">De onde vem o plástico?</h5>
           <div class="video-container">
             <iframe width="853" height="480" src="https://www.youtube.com/embed/uV0R0f1sy4Q" frameborder="0" allowfullscreen>
             </iframe></div>
            <p class="mb-3"></p>
        </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
       <h6 class="text-uppercase mb-3 text-center">De onde vem a energia elétrica?</h6>
           <div class="video-container">
             <iframe width="853" height="480" src="https://www.youtube.com/embed/8ti6FtlvMoc" frameborder="0" allowfullscreen>
            </iframe></div>
        </div>

          <div class="col-lg-4 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">De onde vem o arco íris?</h5>
           <div class="video-container">
             <iframe width="853" height="480" src="https://www.youtube.com/embed/tW819inM4hg" frameborder="0" allowfullscreen>
            </iframe></div>
        </div>
       
          <div class="col-lg-4 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">De onde vem o vidro?</h5>
           <div class="video-container">
             <iframe width="853" height="480" src="https://www.youtube.com/embed/gj9R3nmB67Q" frameborder="0" allowfullscreen>
            </iframe></div>
             <p class="mb-3"></p>
        </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
       <h6 class="text-uppercase mb-3 text-center">De onde vem o raio e o trovão?</h6>
           <div class="video-container">
             <iframe width="853" height="480" src="https://www.youtube.com/embed/EjlNfH5z08w" frameborder="0" allowfullscreen>
            </iframe></div>
           
        </div>

          <div class="col-lg-4 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">De onde vem o espirro?</h5>
           <div class="video-container">
             <iframe width="853" height="480" src="https://www.youtube.com/embed/abfLDAq-nvs" frameborder="0" allowfullscreen>
            </iframe></div>
        </div>

          <div class="col-lg-4 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">De onde vem o sal?</h5>
           <div class="video-container">
             <iframe width="853" height="480" src="https://www.youtube.com/embed/ok3p5bO5-c0" frameborder="0" allowfullscreen>
            </iframe></div>
        </div>

          <div class="col-lg-4 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">De onde vem o açucar?</h5>
           <div class="video-container">
             <iframe width="853" height="480" src="https://www.youtube.com/embed/IZ8hoNdKJBg" frameborder="0" allowfullscreen>
            </iframe></div>
        </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">De onde vem o avião?</h5>
           <div class="video-container">
             <iframe width="853" height="480" src="https://www.youtube.com/embed/qhZAx7q_45Q" frameborder="0" allowfullscreen>
            </iframe></div>
        </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">De onde vem o choro?</h5>
           <div class="video-container">
             <iframe width="853" height="480" src="https://www.youtube.com/embed/07SbNI5jzno" frameborder="0" allowfullscreen>
            </iframe></div>
             <p class="mb-3"></p>
        </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">De onde vem o dia e a noite?</h5>
           <div class="video-container">
             <iframe width="853" height="480" src="https://www.youtube.com/embed/Nux_3PVdo9U" frameborder="0" allowfullscreen>
            </iframe></div>
        </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">De onde vem o leite?</h5>
           <div class="video-container">
             <iframe width="853" height="480" src="https://www.youtube.com/embed/iGAwTwdB5NA" frameborder="0" allowfullscreen>
            </iframe></div>
        </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">De onde vem o pão?</h5>
           <div class="video-container">
             <iframe width="853" height="480" src="https://www.youtube.com/embed/Njk8z5dhByQ" frameborder="0" allowfullscreen>
            </iframe></div>
             <p class="mb-3"></p>
        </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">De onde vem a televisão?</h5>
           <div class="video-container">
             <iframe width="853" height="480" src="https://www.youtube.com/embed/Wm6bPczw5Ls" frameborder="0" allowfullscreen>
            </iframe></div>
        </div>

            <div class="col-lg-4 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">De onde vem o livro?</h5>
           <div class="video-container">
             <iframe width="853" height="480" src="https://www.youtube.com/embed/wPfTwJVKRP4" frameborder="0" allowfullscreen>
            </iframe></div>
             <p class="mb-3"></p>
        </div>

      </div>
      <!-- /.row -->
      <h2 class="masthead-heading text-uppercase mb-5 text-center">Os diferentes povos que compõem o Brasil</h2>
      <div class="row">      

        <div class="col-lg-4 mb-5 mb-lg-0">
        <h5 class="text-uppercase mb-3 text-center">Indígenas</h5>
        <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/cQkA5PDow2s" frameborder="0" allowfullscreen>
      </iframe>
      </div></div>    

    <div class="col-lg-4 mb-5 mb-lg-0">
        <h5 class="text-uppercase mb-3 text-center">Africanos</h5>
        <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/fGUFwFYx46s" frameborder="0" allowfullscreen>
      </iframe></div></div>

          <div class="col-lg-4 mb-5 mb-lg-0">
        <h5 class="text-uppercase mb-3 text-center">Portugueses</h5>
        <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/HfaeWT6qZl0" frameborder="0" allowfullscreen>
      </iframe></div>
<p class="mb-3"></p>
      </div>

  <div class="col-lg-4 mb-5 mb-lg-0">
        <h5 class="text-uppercase mb-3 text-center">População Brasileira</h5>
        <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/sCsfBCsilUk" frameborder="0" allowfullscreen>
      </iframe></div></div>

  <div class="col-lg-4 mb-5 mb-lg-0">
        <h5 class="text-uppercase mb-3 text-center">As cidades</h5>
        <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/M3HDz4-665c" frameborder="0" allowfullscreen>
      </iframe></div></div>

  <div class="col-lg-4 mb-5 mb-lg-0">
        <h5 class="text-uppercase mb-3 text-center">Imigrantes no Paraná</h5>
        <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/yWf2_nh8vu4" frameborder="0" allowfullscreen>
      </iframe></div>
    <p class="mb-3"></p>
    </div>

      </div>
       <!-- /.row -->
  </div>
      <h2 class="masthead-heading text-uppercase mb-5 text-center">Curta metragem de animação que retrata o êxodo rural no Brasil</h2>
      <div class="row">   
       <div class="col-lg-12 mb-5 mb-lg-0">
        <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/ttFM7r5L3lU" frameborder="0" allowfullscreen>
      		</iframe>
      	</div>
    </div>
      </div>
    </div>
  </section>
 </section>
</html>
