<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadraoSite}">

<section layout:fragment="conteudo">

  <!-- Portfolio Section -->
  <section class="page-section portfolio" id="atividades">
    <div class="container">
 		<div class="row">
	     	<nav aria-label="breadcrumb" class="col-xs-12 col-sm-12 col-md-6">
 				<ol class="breadcrumb nav-breadcrumb">
    				<li class="breadcrumb-item"><a th:href="|@{/}#atividades|">Início</a></li>
    				<li class="breadcrumb-item"><a th:href="@{/rotinas}">Rotina</a></li>
    				<li class="breadcrumb-item active" aria-current="page">Domingo</li>
  				</ol>
			</nav>
		</div>
	</div>
       <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Domingo</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>
    <div class="container">
      <h2>Disciplina: Literacia Familiar</h2>
      <h4>Manhã:</h4>
      <p class="mb-2">• Praticar as boas maneiras (bom dia, com licença, por favor, desculpe...)</p>
      <p class="mb-2">• Ajudar nos afazeres de casa;</p>
      <p class="mb-2">• Arrumar os brinquedos</p>

      <div class="row">
            <div class="col-md-6 col-lg-6">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/casa1.png" alt="">
          </div>
        </div>

          <div class="col-md-6 col-lg-6">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/casa2.png" alt="">
          </div>
        </div>
        </div>

         <h2 style="margin-top: 20px">Assistir desenhos, série, filme infantil</h2>

        <div class="row">  
      <div class="col-lg-12 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">POCOYO FILME</h5>
            <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/LVP3nYwaqL8" frameborder="0" allowfullscreen>
        </iframe>
        </div>
        </div>
        </div>

        <div class="row" style="margin-top: 20px">  
      <div class="col-lg-12 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">Turma da mônica</h5>
            <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/FvROTVFjbvo" frameborder="0" allowfullscreen>
        </iframe>
        </div>
        </div>
        </div>

        <h2 style="margin-top: 20px">Organizar em família o almoço de domingo</h2>

        <div class="row">
            <div class="col-md-6 col-lg-6">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/sorrindo.png" alt="">
          </div>
        </div>
         <div class="col-md-6 col-lg-6">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/sorrindo2.png" alt="">
          </div>
        </div>
        </div>

        <h2 style="margin-top: 20px">Roda de conversa</h2>
        <p align="justify" class="mb-2">A roda de conversa é um método que consiste na criação de espaços de diálogo, em que as crianças e adultos podem se expressar e, sobretudo, escutar os outros e a si mesmos. O objetivo é estimular a construção da autonomia por meio da problematização, da troca de informações e da reflexão para a ação.</p>
       
      <h2 style="margin-top: 20px">Tarde:</h2>
      <p class="mb-2">• Karaokê</p>
      <p align="justify" class="mb-2">O karaokê nasceu no Japão, onde desde há alguns anos é muito popular para amenizar refeições e reuniões cantando para todos ali presentes. Acabou se estendendo tanto, que até as empresas de videogames lançaram no mercado conhecidos karaokês para cantar em casa, em família, com amigos, somente com as crianças... Longe de ser um entretenimento, o karaokê além de divertido é muito benéfico para as crianças: </p>

      <p align="justify" class="mb-2">• As canções são um meio ideal para o aprendizado das crianças, já que as ajuda a ampliar o seu vocabulário</p>
      <p align="justify" class="mb-2">• Cantar ajuda as crianças serem mais felizes.</p>
      <p align="justify" class="mb-2">• As canções desenvolvem a criatividade e imaginação das crianças.</p>
      <p align="justify" class="mb-2">• Ajuda as crianças com o aprendizado da leitura, ao ter que seguir a letra da canção que vai aparecendo na tela.</p>
      <p align="justify" class="mb-2">• Cantar ajuda as crianças a melhorar a sua capacidade de concentração e estimula a sua memória. </p>
      <p align="justify" class="mb-2">• As canções permitem as crianças se interessar pela música e melhorar suas habilidades musicais</p>
       
        <div class="row">
            
      <div class="col-lg-6 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">Frozen Você quer brincar na neve Karaoke </h5>
            <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/lK2bj_rayp8" frameborder="0" allowfullscreen>
        </iframe>
        </div>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">Saber quem Sou - Moana </h5>
            <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/yBJsIalt464" frameborder="0" allowfullscreen>
        </iframe>
        </div>
        </div>

        </div>

        <h2 style="margin-top: 20px">Mímicas</h2>
        <div class="row">
            
      <div class="col-lg-12 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">Quintal da Cultura</h5>
            <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/l8j3ugOghXs" frameborder="0" allowfullscreen>
        </iframe>
        </div>
        </div>
        </div>

        <h2 style="margin-top: 20px">Educação Física em família (Brincadeiras);</h2>
        <h4 style="margin-top: 20px"><strong>ALERTA</strong> (Brincadeiras com Bola):</h4>
        <p align="justify" class="mb-2">Uma das brincadeiras com bola que as crianças adoram é o ‘Alerta’. Exige bastante atenção, explora memória, socialização e movimento. Uma das crianças é escolhida para começar a brincadeira, ficando com a bola e de costas para o restante das crianças que participarão da brincadeira.  Todas as crianças devem ficar atentas, pois assim que criança jogar a bola para cima também gritará o nome de uma das crianças. Essa criança então é que vai pegar a bola e gritar “Alerta!” e as demais devem ficar paradas no lugar. Aí a criança que gritou alerta vai dar 3 passos em direção à criança mais próxima a ela e tentar acertar a bola nela. Se acertar a bola a criança atingida sai da brincadeira. Mas se errar é ela que sairá!</p>

         <div class="row">
            <div class="col-md-6 col-lg-6">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/alerta.png" alt="">
          </div>
        </div>
        </div>

         <h2 style="margin-top: 20px">Coordenação</h2>

        <p align="justify" class="mb-2">Outra brincadeira que pode ajudar, e muito, no desenvolvimento da coordenação motora do pequeno. É só pegar uma tábua qualquer e estimular que a criança caminhe por cima. Vale brincar de pirata, de estátua, de ginasta, só para exercitar o equilíbrio! Só não deixe que a tábua seja colocada em algum local perigoso, para não haver risco de quedas</p>

        <div class="row">
            <div class="col-md-6 col-lg-6">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/coord.png" alt="">
          </div>
        </div>
        </div>

        <h2 style="margin-top: 20px">Sessão Cinema: Filmes com temas Positivos;</h2>

         <div class="row" style="margin-top: 20px">  
      <div class="col-lg-12 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">Milagres do Paraíso</h5>
            <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/ziRb-BQhBQU" frameborder="0" allowfullscreen>
        </iframe>
        </div>
        </div>
        </div>
      
       <h2 style="margin-top: 20px">Noite</h2>

        <p class="mb-2">• Organizar e guardar objetos usados durante o dia;</p>
        <p class="mb-2">• Ver um filme, assistir televisão e/ou ler um livro;</p>
        <p class="mb-2">• Orar em família, cantar, dar “boa noite” aos seus familiares.</p>

    </div>

  </section>

 </section>

</html>
