<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadraoSite}">

<section layout:fragment="conteudo">
   
  <!-- Portfolio Section -->
  <section class="page-section portfolio" id="atividades">
    <div class="container">
 		<div class="row">
	     	<nav aria-label="breadcrumb" class="col-xs-12 col-sm-12 col-md-6">
 				<ol class="breadcrumb nav-breadcrumb">
    				<li class="breadcrumb-item"><a th:href="|@{/}#atividades|">Início</a></li>
    				<li class="breadcrumb-item"><a th:href="@{/rotinas}">Rotina</a></li>
    				<li class="breadcrumb-item active" aria-current="page">Quarta-feira</li>
  				</ol>
			</nav>
		</div>
	</div>
       <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Quarta-feira</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>
    <div class="container">
      <h2>Ciências, Geografia e História</h2>
      <h4>Manhã:</h4>
      <p class="mb-2">• Praticar as boas maneiras (bom dia, com licença, por favor, desculpe...)</p>
      <p class="mb-2">• Ajudar nos afazeres de casa;</p>
      <p class="mb-2">• Ler um livro</p>

      <h5><a class="nav-link rounded js-scroll-trigger" target="_blank" href="https://www.coletivoleitor.com.br/">Coletivo Leitor</a></h5>

        <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/coletiva.png" alt="">
          </div>
        </div>
        </div>

        <p class="mb-2">Algumas obras completas e gratuitas que estarão disponíveis até o mês de junho/20.</p>
        <p class="mb-2">Basta clicar no ícone “degustação” no canto esquerdo da obra.</p>

      <h4 style="margin-top: 20px">•  Brincar (fazer uma cabana, casinha, estrada de corrida para carrinhos...)</h4>
      <p align="justify" class="mb-2">Confira as imagens para confeccionar sua cabaninha: </p>
       
        <div class="row">
            <div class="col-md-6 col-lg-6">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/cabana1.png" alt="">
          </div>
        </div>

        <div class="col-md-6 col-lg-6">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/cabana2.png" alt="">
          </div>
        </div>

         <div class="col-md-6 col-lg-6">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/cabana3.png" alt="">
          </div>
        </div>

         <div class="col-md-6 col-lg-6">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/cabana4.png" alt="">
          </div>
        </div>

        </div>


        <h5 style="margin-top: 20px">Brincando de casinha:</h5>

        <div class="row">
            <div class="col-md-6 col-6">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/casinha1.png" alt="">
          </div>
        </div>

          <div class="col-md-6 col-lg-6">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/casinha2.png" alt="">
          </div>
        </div>
        </div>

        <h2 style="margin-top: 20px">Estrada de corrida para carrinhos</h2>

          <div class="row" style="margin-top: 20px">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/pista_carrinho.png" alt="">
          </div>
        </div>


        </div>

        <h2 style="margin-top: 20px">Fazer uma receita de massinha de modelar:</h2>

          <div class="row">
           <div class="col-lg-6 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">Como fazer massinha de modelar</h5>
            <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/LAB1WZ77wpY" frameborder="0" allowfullscreen>
      </iframe>
      </div>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">Hora de brincar</h5>
            <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/vamos_brincar.png" alt="">
          </div>
      </div>
        </div>

        <h2 style="margin-top: 20px">Tarde</h2>

        <p align="justify" class="mb-2">• Pesquisar o significado da palavra pandemia e as medidas que cada país está adotando no combate ao Coronavírus( COVID 19);</p>
        <p align="justify" class="mb-2">• Praticar e conversar sobre a importância dos hábitos de higiene;</p>
        <div class="row">
           <div class="col-lg-12 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">Combate ao coronavirus - De Criança para criança</h5>
            <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/Ff3gAQ7E4vc" frameborder="0" allowfullscreen>
      </iframe>
      </div>
        </div>
      </div>

        <p align="justify" class="mb-2">• Localizar cidades, países e continentes;</p>
        <p align="justify" class="mb-2">• Números de habitantes;</p>
        <p align="justify" class="mb-2">• Clima de outros países;</p>
        <p align="justify" class="mb-2">• Pesquisar cultura de outros países (vídeos, documentários, imagens...)</p>

         <h2 style="margin-top: 20px">Vídeos sobre os diferentes povos que compõem nosso país:</h2>

      <div class="row">
           <div class="col-lg-4 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">Raízes do Brasil - Os indígenas</h5>
            <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/cQkA5PDow2s" frameborder="0" allowfullscreen>
      </iframe>
      </div>
        </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">Raízes do Brasil - Os Africanos</h5>
            <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/fGUFwFYx46s" frameborder="0" allowfullscreen>
      </iframe>
      </div>
            <p class="mb-2"></p>
        </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">Raízes do Brasil - Os Portugueses</h5>
            <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/HfaeWT6qZl0" frameborder="0" allowfullscreen>
      </iframe>
      </div>
        </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">Distribuição geográfica</h5>
            <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/M3HDz4-665c" frameborder="0" allowfullscreen>
      </iframe>
      </div>
        </div>

      </div>

       <h2 style="margin-top: 20px">Ciências</h2>
       <div class="row">
           <div class="col-lg-6 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">De onde vem o espirro?</h5>
            <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/abfLDAq-nvs" frameborder="0" allowfullscreen>
      </iframe>
      </div>
        </div>
      </div>

      <h2 style="margin-top: 20px">Noite</h2>

        <p align="justify" class="mb-2">• Organizar e guardar objetos usados durante o dia;</p>
        <p align="justify" class="mb-2">• Ver um filme, assistir televisão e/ou ler um livro;</p>
        <p align="justify" class="mb-2">• Orar em família, ver fotos antigas, dar “boa noite” aos seus familiares.</p>

        <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/noite.png" alt="">
          </div>
        </div>

    </div>
</div>
  </section>
</section>

</html>
