<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadraoSite}">

<section layout:fragment="conteudo">

  <!-- Portfolio Section -->
  <section class="page-section portfolio" id="atividades">
    <div class="container">
 		<div class="row">
	     	<nav aria-label="breadcrumb" class="col-xs-12 col-sm-12 col-md-6">
 				<ol class="breadcrumb nav-breadcrumb">
    				<li class="breadcrumb-item"><a th:href="|@{/}#atividades|">Início</a></li>
    				<li class="breadcrumb-item"><a th:href="@{/rotinas}">Rotina</a></li>
    				<li class="breadcrumb-item active" aria-current="page">Quinta-feira</li>
  				</ol>
			</nav>
		</div>
	</div>
       <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Quinta-feira</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>
    <div class="container">
      <h2>Língua Portuguesa, Arte e Educação Física</h2>
      <h4>Manhã:</h4>
      <p class="mb-2">• Praticar as boas maneiras (bom dia, com licença, por favor, desculpe...)</p>
      <p class="mb-2">• Ajudar nos afazeres de casa;</p>
      <p class="mb-2">• Brincar: (Jogos da memória, vivo e morto, o mestre mandou...).</p>

      <div class="row">
            <div class="col-md-6 col-lg-4">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/palavras.png" alt="">
          </div>
        </div>
         <div class="col-md-6 col-lg-4">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/almoco.png" alt="">
          </div>
        </div>
         <div class="col-md-6 col-lg-4">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/memoria.png" alt="">
          </div>
        </div>
        </div>

         <h2 style="margin-top: 20px">Ajudar nos afazeres de casa:</h2>

          <div class="row">
            <div class="col-md-6 col-lg-6">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/casa1.png" alt="">
          </div>
        </div>
         <div class="col-md-6 col-lg-6">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/casa2.png" alt="">
          </div>
        </div>
        </div>

       
      <h2 style="margin-top: 20px">Tarde:</h2>
      <p class="mb-2">• Escrever uma história coletiva: ilustrar e apresentar uma peça teatral (confeccionar fantoches com materiais reciclados);</p>
      <p class="mb-2">• Fazer dobraduras, pinturas, recortes;</p>
      <p class="mb-2">• Alongamento lúdico (música boneca de lata, vídeos de alongamento lúdico...);</p>
      <p class="mb-2">• Pular corda, pular obstáculos, pular amarelinha ...;</p>
      <p class="mb-2">• Revisar conteúdos já estudados.</p>
       
        <div class="row">
            <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/1.png" alt="">
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/2.png" alt="">
          </div>
        </div>

         <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/3.png" alt="">
          </div>
        </div>

         <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/4.png" alt="">
          </div>
        </div>

         <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/5.png" alt="">
          </div>
        </div>

         <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/6.png" alt="">
          </div>
        </div>

        </div>


        <h5 style="margin-top: 20px">•  Fantoches com materiais recicláveis:</h5>

        <div class="row">
            <div class="col-md-6 col-lg-6">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/fantoche1.png" alt="">
          </div>
        </div>

          <div class="col-md-6 col-lg-6">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/fantoche2.png" alt="">
          </div>
        </div>
        </div>

        <h2 style="margin-top: 20px">Dobraduras</h2>

          <div class="row" style="margin-top: 20px">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/dobraduras.png" alt="">
          </div>
        </div>
        </div>

        <h2 style="margin-top: 20px">Pinturas, recortes:</h2>

          
          <div class="row" style="margin-top: 20px">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/pinturas.png" alt="">
          </div>
        </div>
        </div>
        

        <h2 style="margin-top: 20px">Alongamento Lúdico</h2>


        <div class="row">
           <div class="col-lg-6 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">Alongamento com bastão</h5>
            <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/4eyYpIcbmyg" frameborder="0" allowfullscreen>
      </iframe>
      </div>
        </div>

          <div class="col-lg-6 mb-5 mb-lg-0">
       <h5 class="text-uppercase mb-3 text-center">Circuito com obstáculos para crianças</h5>
            <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/utyjWUOG4vU" frameborder="0" allowfullscreen>
      </iframe>
      </div>
        </div>
      </div>

       <h2 style="margin-top: 20px">Noite</h2>

        <p class="mb-2">• Organizar e guardar objetos usados durante o dia;</p>
        <p class="mb-2">• Ver um filme, assistir televisão e/ou ler um livro;</p>
        <p class="mb-2">• Orar em família, cantar, dar “boa noite” aos seus familiares.</p>

        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/recolhendo.png" alt="">
          </div>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/tv.png" alt="">
          </div>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/leitura.png" alt="">
          </div>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/orar.png" alt="">
          </div>
        </div>

    </div>
</div>
  </section>
</section>
</html>
