<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadraoSite}">

<section layout:fragment="conteudo">

  <!-- Portfolio Section -->
  <section class="page-section portfolio" id="atividades">
  <div class="container">
 		<div class="row">
	     	<nav aria-label="breadcrumb" class="col-xs-12 col-sm-12 col-md-6">
 				<ol class="breadcrumb nav-breadcrumb">
    				<li class="breadcrumb-item"><a th:href="|@{/}#atividades|">Início</a></li>
    				<li class="breadcrumb-item"><a th:href="@{/rotinas}">Rotina</a></li>
    				<li class="breadcrumb-item active" aria-current="page">Segunda-feira</li>
  				</ol>
			</nav>
		</div>
	</div>
     <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Segunda-feira</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>
    <div class="container">
      <h2>Língua Portuguesa e Matemática – 1º ao 5º ano.</h2>
      <h4>Manhã:</h4>
      <p class="mb-2">• Praticar as boas maneiras (bom dia, com licença, por favor, desculpe...)</p>
      <p class="mb-2">• Ajudar nos afazeres de casa;</p>
      <p class="mb-2">• Jogos e brincadeiras (dominó, jogo da velha, stop, forca).</p>

        <div class="row">
            <div class="col-md-6 col-lg-4">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/obrigado.png" alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/roupa-suja.png" alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/domino1.png" alt="">
          </div>
        </div>
        </div>

      <h2 style="margin-top: 20px">Dominó</h2>
      <p class="mb-2">Como jogar o dominó: Cada jogador recebe 7 pedras quando começa a rodada. Se na partida houver menos de 4 jogadores, as pedras restantes ficam no dorme para serem compradas. O jogo começa pelo jogador que tenha a pedra dobrada mais alta (se jogam 4 pessoas, sempre começará quem tem o seis dobre ou carrilhão). </p>
       
        <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/domino.png" alt="">
          </div>
        </div>
        </div>

        <h2 style="margin-top: 20px">Jogo do STOP</h2>
        <p class="mb-2">Stop é um jogo que as crianças e os adultos podem jogar juntos. È ótimo para incentivar a criatividade, a rapidez de raciocínio e melhoria do vocabulário. Imprima e jogue em família!</p>

        <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/stop.png" alt="">
          </div>
        </div>
        </div>

        <h2 style="margin-top: 20px">Jogo da Velha</h2>
        <p align="justify" class="mb-2">O jogo da velha é um jogo e passatempo popular. É um jogo de regras extremamente simples, que não traz grandes dificuldades para seus jogadores e é facilmente aprendido.
Seu nome teria se originado na Inglaterra, quando nos finais da tarde, mulheres se reuniram para conversar e bordar. A mulheres idosas, por não terem mais condições de bordar em razão da fraqueza de suas vistas, jogavam este jogo simples, que passou a ser conhecido como o da “velha”. Porém, sua origem teria sido ainda mais antiga. Fala-se em tabuleiros escavados na rocha de templos do antigo Egito, que teriam sido feitos por escravos há 3.500 anos.
Fonte: Portal do professor
Este jogo, apesar de ser extremamente simples, pode ser trabalhado para desenvolver e envolvem conceitos matemáticos básicos que são assimilados ludicamente através dessa brincadeira.</p>
<p class="mb-2"><strong>Como jogar: </strong>você precisa de um tabuleiro de nove casas:</p>
          <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/velha.png" alt="">
          </div>
        </div>
        </div>

<p align="justify" class="mb-2">Precisará também de dois tipos de pinos, com cinco pinos de cada tema, pelo menos. Pode ser bolinha e X, no nosso exemplo é a Mônica e o Cebolinha.</p>
<p align="justify" class="mb-2">Como jogar:</p>
<p align="justify" class="mb-2">Cada jogador terá uma chance e o objetivo do jogo é formar um trio de pinos (diagonal, horizontal ou vertical).</P>

  <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/velha2.png" alt="">
          </div>
        </div>
        </div>

  <p align="justify" class="mb-2">Ao mesmo tempo que você deve criar o seu jogo para formar o trio, deve impedir o adversário de fazer o trio dele.</P>
  <p align="justify" class="mb-2">Isso exige da criança:</p>
   <p class="mb-2">•  Concentração</p>
   <p class="mb-2">•  Estratégia</p>
   <p class="mb-2">•  Atenção ao outro</p>
   <p class="mb-2">•  Conceito de agrupamento</p>
  <p class="mb-2">• Desenvolve o raciocínio lógico–matemático</p>
  <p class="mb-5">• Desafio.</p>

  <h3>Tarde:</h3>
  <h4>Turmas: 1° e 2° anos</h4>
  <p class="mb-2">Atividades de Coordenação motora fina:</p>
  <p class="mb-2">• Rasgaduras e colagens;</p>
  <p class="mb-2">• Pontilhado (cobrir o pontilhado com botões, feijões, milho...);</p>
  <p class="mb-2">• Pregador e fitas.</p>

   <div class="row">
            <div class="col-md-6 col-lg-6">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/coord1.png" alt="">
          </div>
        </div>

         <div class="col-md-6 col-lg-6">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/coord2.png" alt="">
          </div>
        </div>

         <div class="col-md-6 col-lg-6">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/coord3.png" alt="">
          </div>
        </div>

         <div class="col-md-6 col-lg-6">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/coord4.png" alt="">
          </div>
        </div>
        </div>
  <p align="justify" class="mb-2">Objetivos:</p>
  <p align="justify" class="mb-2">• Desenvolver a coordenação motora fina e ampla, bem como o equilíbrio contribuindo para o desenvolvimento das crianças.</p>
 <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/colagens.png" alt="">
          </div>
        </div>
  </div>

  <p align="justify" class="mb-2"><strong>Pontilhado (cobrir o pontilhado com botões, feijões, milho...)</strong></p>
 <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/pontilhado.png" alt="">
          </div>
        </div>
  </div>

  <p class="mb-2"><strong>Pregador e fitas</strong></p>
  <p class="mb-2">Você vai precisar de:</p>
  <p class="mb-2">• Fitas</p>
  <p class="mb-2">• Pregadores de roupa</p>
 <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/pregadores.png" alt="">
          </div>
        </div>
  </div>

  <p class="mb-2">Como brincar:</p>
  <p align="justify" class="mb-2">Use o varal da sua casa para pendurar as fitas. Se ele tiver, use um barbante mesmo. Cada pedaço de fita deve ser preso com um pregador diferente, ficando assim:</p>
   <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/varal.png" alt="">
          </div>
        </div>
  </div>

  <p align="justify" class="mb-2">A atividade consiste em pedir para as crianças retirarem as fitas, uma a uma.</p>
     <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/varal2.png" alt="">
          </div>
        </div>
  </div>

<p class="mb-2">Atividades de Alfabetização:</p>
<p class="mb-2">• Recortar vogais e consoantes, palavras pequenas e pesquisar o significado;</p>
<p class="mb-2">• Alfabeto: letras e ordem alfabética (ler o alfabeto e jogos alfabéticos);</p>
<p class="mb-2">• Ditado diferente (desenhar o que está escrito).</p>
     <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/jogos2.png" alt="">
          </div>
        </div>
  </div>

  <p align="justify" class="mb-2">Recortar vogais e consoantes (de revistas, jornais e livros velhos), palavras pequenas e pesquisar o significado; (Atividade no caderno);</p>
     <div class="row">
            <div class="col-md-6 col-lg-6">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/recorte.png" alt="">
          </div>
        </div>

          <div class="col-md-6 col-lg-6">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/recorte2.png" alt="">
          </div>
        </div>
  </div>

  <h5>COLEÇÃO OFICINA DE REFORÇO 1º ano-Língua Portuguesa ( páginas 10 a 14)</h5>
  <h5>COLEÇÃO OFICINA DE REFORÇO 2º ano-Língua Portuguesa ( páginas 10 a 13)</h5>

  <p class="mb-2">• Alfabeto: Letras e ordem alfabética (ler o alfabeto e jogos alfabéticos)</p>

         <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/alfabeto.png" alt="">
          </div>
        </div>
  </div>

   <p class="mb-2">• Pescaria do alfabeto</p>

      <div class="row">
            <div class="col-md-6 col-lg-6">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/pescaria.png" alt="">
          </div>
        </div>

                    <div class="col-md-6 col-lg-6">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/pescaria2.png" alt="">
          </div>
        </div>
  </div>


   <p align="justify" class="mb-2">Descubra os nomes e leia (Recortar e montar as palavras. Após, colar em seu caderno)</p>
         <div class="row">
            <div class="col-md-6 col-lg-6">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/colagem.png" alt="">
          </div>
        </div>
                    <div class="col-md-6 col-lg-6">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/colagem2.png" alt="">
          </div>
        </div>
  </div>

  <p align="justify" class="mb-2">• Ditado diferente (desenhar o que está escrito);</p>
   <p align="justify" class="mb-2">Exemplo: Um adulto escreve palavras simples em uma folha e a criança desenha, porém, a criança deverá ler para que consiga desenhar.</p>
       <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/desenhar.png" alt="">
          </div>
        </div>
  </div>

       <h3 style="margin-top: 20px">Turmas: 3º, 4º e 5º anos</h3>
        <p class="mb-2">• Formar frases;</p>
        <p class="mb-2">• Ditar palavras diferentes, pesquisar seus significados;</p>
        <p class="mb-2">• Fazer um pequeno texto e/ ou uma redação;</p>

        <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/ouvir.png" alt="">
          </div>
        </div>
        </div>

        <p class="mb-2">• Ditar palavras diferentes, pesquisar seus significados;</p>
         <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/ditar.png" alt="">
          </div>
        </div>
        </div>
        <p class="mb-2">• Fazer um pequeno texto e/ ou uma redação;</p>
          <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/redacao.png" alt="">
          </div>
        </div>
        </div>
      
        <h5 style="margin-top: 20px">COLEÇÃO OFICINA DE ROFORÇO 3º ANO- Língua Portuguesa (páginas 10 a 16)</h5>
        <h5 style="margin-top: 20px">COLEÇÃO OFICINA DE ROFORÇO 4º ANO -Língua Portuguesa (páginas 10 a 15)</h5>
        <h5 style="margin-top: 20px">COLEÇÃO OFICINA DE ROFORÇO 5º ANO -Língua Portuguesa (páginas 10 a 17)</h5>

        <h2 style="margin-top: 20px">Noite</h2>

        <p class="mb-2">• Organizar e guardar objetos usados durante o dia;</p>
        <p class="mb-2">• Ver um filme, assistir televisão e/ou ler um livro;</p>
        <p class="mb-2">• Orar em família, ver fotos antigas, dar “boa noite” aos seus familiares.</p>

        <div class="row">
            <div class="col-md-6 col-lg-12">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/noite.png" alt="">
          </div>
        </div>
        </div>
        </div>
  </section>
 </section>

</html>
