<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadraoSite}">

<section layout:fragment="conteudo">
 
  <!-- Portfolio Section -->
  <section class="page-section portfolio" id="atividades">
    <div class="container">
 		<div class="row">
	     	<nav aria-label="breadcrumb" class="col-xs-12 col-sm-12 col-md-6">
 				<ol class="breadcrumb nav-breadcrumb">
    				<li class="breadcrumb-item"><a th:href="|@{/}#atividades|">Início</a></li>
    				<li class="breadcrumb-item"><a th:href="@{/rotinas}">Rotina</a></li>
    				<li class="breadcrumb-item active" aria-current="page">Sexta-feira</li>
  				</ol>
			</nav>
		</div>
	</div>
       <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Sexta-feira</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>
    <div class="container">
      <h2>Disciplina: Língua Portuguesa e Matemática</h2>
      <h4>Manhã:</h4>
      <p class="mb-2">• Praticar as boas maneiras (bom dia, com licença, por favor, desculpe...)</p>
      <p class="mb-2">• Ajudar nos afazeres de casa;</p>
      <p class="mb-2">• Ver desenho (De-onde-vem), ouvir música, cantar dançar.</p>

      <div class="row">
            <div class="col-md-6 col-lg-4">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/palavrinhas.png" alt="">
          </div>
        </div>
         <div class="col-md-6 col-lg-4">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/prato.png" alt="">
          </div>
        </div>
         <div class="col-md-6 col-lg-4">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/music.png" alt="">
          </div>
        </div>
        </div>

         <h2 style="margin-top: 20px">De onde vem o livro?</h2>

           <div class="row">
           <div class="col-lg-12 mb-5 mb-lg-0">
            <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/wPfTwJVKRP4" frameborder="0" allowfullscreen>
      </iframe>
      </div>
        </div>

        </div>
       
      <h2 style="margin-top: 20px">Tarde:</h2>
      <p class="mb-2">• Revisar conteúdos já estudados;</p>
      <p class="mb-2">• 1º e 2º anos: Leitura de letras, palavras simples e pequenos textos;</p>
      <p class="mb-2">• 3º, 4º e 5º anos: Leitura individual, Livros de contos</p>
      <p class="mb-2">• Sessão Cinema: Filmes com temas positivos;</p>
      <p class="mb-2">• Revisar conteúdos já estudados.</p>
       
        <div class="row">
            <div class="col-md-6 col-lg-6">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/caneta.png" alt="">
          </div>
        </div>

        <div class="col-md-6 col-lg-6">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/concentrando.png" alt="">
          </div>
        </div>

         <div class="col-md-6 col-lg-6">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/voar.png" alt="">
          </div>
        </div>

         <div class="col-md-6 col-lg-6">
          <div class="portfolio-item mx-auto">       
            <img class="img-fluid" src="img/sessao.png" alt="">
          </div>
        </div>

        </div>


        <h2 style="margin-top: 20px">Jogos</h2>

        <div class="row">
            <div class="col-md-6 col-lg-6">
            <h5><a class="nav-link rounded js-scroll-trigger" target="_blank" href="https://www.jogosdaescola.com.br/completar-com-vogais-i/">
            Clique aqui!</a></h5>
          <div class="mx-auto">
          <a class="nav-link rounded js-scroll-trigger" target="_blank" href="https://www.jogosdaescola.com.br/completar-com-vogais-i/">       
            <img class="img-fluid" src="img/jogos1.png" alt=""></a>
          </div>
        </div>
      </div>
        <h2 style="margin-top: 20px">Leitura</h2>

        <div class="row">
            <div class="col-md-6 col-lg-6">
            <h5><a class="nav-link rounded js-scroll-trigger" target="_blank" href="https://pt.slideshare.net/nadiechristina/chapeuzinho-amarelo">
            Clique aqui!</a></h5>
          <div class="mx-auto">
          <a class="nav-link rounded js-scroll-trigger" target="_blank" href="https://pt.slideshare.net/nadiechristina/chapeuzinho-amarelo">       
            <img class="img-fluid" src="img/chico.png" alt=""></a>
          </div>
        </div>
      </div>    

        <h2 style="margin-top: 20px">Dicas de filmes para assistir com a família: </h2>
        <h5><a class="nav-link rounded js-scroll-trigger" target="_blank" href="https://www.oficinadanet.com.br/netflix2019/24733-filmes-para-toda-familia-assistir-na-netflix-em-2019">Dicas 1</a></h5>

       <h5><a class="nav-link rounded js-scroll-trigger" target="_blank" href="https://www.youtube.com/channel/UCZ1JzRyv0nXoTjNCWAS4evw">
           Dicas 2</a></h5>

      
       <h2 style="margin-top: 20px">Noite</h2>

        <p class="mb-2">• Organizar e guardar objetos usados durante o dia;</p>
        <p class="mb-2">• Ver um filme, assistir televisão e/ou ler um livro;</p>
        <p class="mb-2">• Orar em família, cantar, dar “boa noite” aos seus familiares.</p>

        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/lavando.png" alt="">
          </div>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/lendo.png" alt="">
          </div>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/oracao.png" alt="">
          </div>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="mx-auto">       
            <img class="img-fluid" src="img/orar.png" alt="">
          </div>
        </div>

    </div>
</div>
  </section>
 </section>

</html>
